name: Push Image

on:
  workflow_call:
    inputs:
      repo_type:
        description: "Azure Container Registry to push the image to"
        required: true
        type: string
      image_tag:
        description: "Tag to push the image with"
        required: true
        type: string
      docker_context:
        description: "Docker Context to Use"
        required: true
        type: string

jobs:
  push-example-image:
    name: Push Image (${{ inputs.image_tag }})
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log into Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Log in to Public Azure Container Registry
        if: ${{ inputs.repo_type == 'public' }}
        run: az acr login --name ${{ secrets.AZURE_REGISTRY_NAME }}

      - name: Log in to Test Azure Container Registry
        if: ${{ inputs.repo_type == 'private' }}
        run: az acr login --name ${{ secrets.TEST_AZURE_REGISTRY_NAME }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.docker_context }}
          file: ${{ inputs.docker_context }}/Dockerfile
          push: true
          tags: ${{ inputs.repo_type == 'public' && secrets.AZURE_REGISTRY_URL || inputs.repo_type == 'private' && secrets.TEST_AZURE_REGISTRY_URL }}/${{ inputs.image_tag }}